<.flash_group flash={@flash} />

<div class="flex flex-col">
  <h1 class="text-xl">
    Welcome to <span class="font-medium">Mimir!</span>
  </h1>
  <p class="mt-2">
    You can monitor your security devices and see the latest triggered events by
    visiting the 'devices' page.
  </p>
</div>
